html,body{
    width: 100%;
    height: 99%;
    display:flex;
}

.code{
    display: flex;
    position: relative;
    width: 15%;
    height: 50%;
    top: 2em;
    margin-left: 1em;
}

#lines{
    display:flex;
    flex-direction: column;
    width: 4%;
    height:80%;
    counter-reset: linenumber -1;
    line-height: 1em;
    margin-right: 0.5em;
    font-size: 95.5%;
}

#error{
    display: flex;
    width: 50%;
}

#query{
    width: 100%;
    overflow:hidden;
}
#lines span::before{
    counter-increment: linenumber;
    content: counter(linenumber);
    margin-right: 0.5em;
    color: #506882;
}

canvas{
    position: relative;
    width: 50%;
    height: 30%;
    margin-top: 2em;
    left: 10em;
}

#mem{
    display: flex;
    position: absolute;
    gap: 0.8em;
    width: 16.4%;
    height: 19%;
    left: 87.67em;
    top: 7.2em;
}

.memory{
    position: relative;
    width: 31.1%;
    height: 92%;
    overflow-y: scroll;
    scrollbar-width: none;
    left: 0.1em;
    top: 0.1em;
    counter-reset: linenumber -1;

}

.memory-entry{
    padding: 4px;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    font-size: 75%;
    
}

.memory-entry::before{
    content: counter(linenumber);
    counter-increment: linenumber;
    margin-right: 0.5em;
    color: #506882;
}

#log{
    position: relative;
    left: -70em;
    top: 28em;
    font-family: monospace;
    white-space: pre; /* This preserves the spacing, this needed otherwise reserving doesnt work */
    font-size: 120%;
    width: 30%;
    height: 20%;
}


/* use absolute since relative will move all objects relative to him 
 so absolute if u want to overlap divs without pbs
 dont use vh or vw since not good with zoom
 always use % or em for responsive design and flex 
*/

